* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;

  overflow-x: hidden;
}

/* HELPER CLASSES */

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.margin-right-md {
  margin-right: 3.2rem;
}

.margin-top-lg {
  margin-top: 6.4rem;
}

/*******************/
/* SECTION HEADER */
/*******************/

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 6.4rem;
}

.logo-img {
  height: 6.4rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}

.nav li {
  list-style: none;
}

.nav-item:link,
.nav-item:visited {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}

.nav-item:hover,
.nav-item:active {
  color: #8d1d1d;
}

.mobile-menu {
  display: none;
}
.mobile-menu-open,
.mobile-menu-close {
  color: #8d1d1d;
  height: 4.8rem;
  width: 4.8rem;
}

.mobile-menu-close {
  display: none;
}

/*****************/
/* SECTION HERO */
/*****************/

.section-hero {
  width: 100%;
  background-color: #dee2e6;
  padding: 6.4rem 3.2rem 9.6rem 3.2rem;
}

.hero-container {
  max-width: 140rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6.4rem;
}

.subheading {
  display: block;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.subheading span {
  color: #8d1d1d;
}

.heading-primary {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 6.4rem;
}
.heading-primary span {
  color: #8d1d1d;
}

.hero-link-main:link,
.hero-link-main:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: #8d1d1d;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  background-color: #e9ecef;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 9px;
  transition: all 0.3s;
}

.hero-link-main:hover,
.hero-link-main:active {
  background-color: transparent;
  border: 3px solid gray;
}

.hero-link-secondary:link,
.hero-link-secondary:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: #858585;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 9px;
  transition: all 0.3s;
}

.hero-link-secondary:hover,
.hero-link-secondary:active {
  border: 2px solid gray;
}

.hero-img {
  width: 100%;
  border-radius: 11px;
}

/*********************/
/* SECTION ABOUT US */
/*********************/

.section-about-us {
  padding: 6.4rem 3.2rem;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;

  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 0 2.4rem 1.2rem rgba(0, 0, 0, 0.05);
}

.heading-secondary {
  font-size: 4rem;
  margin-bottom: 3.2rem;
}

.about-us-img {
  height: 100%;
  width: 100%;
}

.about-us-list-box {
  padding: 3.6rem 4.8rem;
  font-size: 1.8rem;
}

.list-heading {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.about-us-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.about-us-list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #8d1d1d;
}

.about-us-text-box {
  padding: 4.8rem 3.2rem;
}

.about-us-text {
  font-size: 2.4rem;
  line-height: 1.1;
}
.about-us-text span {
  color: #8d1d1d;
  font-weight: 500;
}

/*********************/
/* SECTION GALLERY/TESTIMONIALS */
/*********************/

.section-gallery {
  margin-top: 4.8rem;
  padding: 6.4rem 0;
  background-color: #dee2e6;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}

.testimonial-part {
  padding: 2.4rem 9.6rem;
}

.testimonials {
  margin-top: 8rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  row-gap: 6.4rem;
}

.testimonials-title {
  display: block;
  font-size: 1.6rem;
  color: #8d1d1d;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  font-weight: 500;
}

.customer-photo {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}

.testimonial-text {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  line-height: 1.5;
}

.testimonial-author {
  font-size: 1.6rem;
  color: #555;
}

.gallery-part {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;

  padding: 6.4rem 9.6rem 6.4rem 0;
}

.img {
  height: 100%;
  width: 100%;
}

.img:hover {
  transform: scale(1.1);
}

/***********************/
/* SECTION CONTACT US */
/***********************/
.section-contact {
  padding: 0 3.2rem 4.8rem 3.2rem;
}

.contact-title {
  display: block;
  font-size: 1.6rem;
  color: #8d1d1d;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
  font-weight: 500;
}

.contacts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin-top: 6.4rem;
}

.address-container,
.mobile-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ddd;
}
.mobile-container a {
  text-decoration: none;
}

.address-container {
  padding-right: 3.2rem;
}

.location-icon,
.mobile-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #8d1d1d;
  margin-bottom: 0;
}

.address-heading,
.mobile-heading {
  font-size: 2.4rem;
  color: #888;
}

.address,
.mobile {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
}

.socials-container {
  display: flex;
  justify-content: center;
}
.socials {
  display: grid;
  grid-template-columns: 1fr;
}

.socials p {
  font-weight: 500;
}

.email-container,
.facebook-container,
.instagram-container {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #8d1d1d;
}

.socials-text {
  font-size: 1.8rem;
  text-decoration: none;
  color: #333;
}

/***********************/
/* FOOTER */
/***********************/

footer {
  max-width: 100%;
  height: 4.8rem;
  background-color: #dee2e6;
  margin-top: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 1.6rem;
}
