@media (max-width: 700px) {
  /* HERO/HEADER */
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background-color: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: all 0.3s;
  }

  nav ion-icon {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    height: 24px;
    width: 24px;
  }

  .nav-links ul {
    padding: 30px;
  }

  /* COURSES SECTION */

  .row {
    flex-direction: column;
  }

  /* TESTIMONIALS SECTION */

  .testimonial-col img {
    margin-left: 0;
    margin-right: 15px;
  }
}
