/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .section-header {
    padding: 0 4.8rem;
  }

  .hero-container {
    gap: 3.2rem;
  }

  .section-gallery {
    padding: 4.8rem 0;
  }

  .testimonial-part {
    padding: 2.4rem 3.2rem;
  }

  .testimonials {
    margin-top: 4.8rem;
  }

  /* .gallery-part {
    grid-template-columns: 1fr 1fr;
  } */

  .address-container {
    padding: 0 2.4rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .section-header {
    padding: 0 3.2rem;
  }

  .hero-link-main:link,
  .hero-link-main:visited {
    font-size: 1.8rem;
    border: 2px solid #fff;
  }
  .hero-link-main:hover,
  .hero-link-main:active {
    border: 2px solid gray;
  }

  .hero-link-secondary:link,
  .hero-link-secondary:visited {
    font-size: 1.6rem;
    border: 1px solid #fff;
  }
  .hero-link-secondary:hover,
  .hero-link-secondary:active {
    border: 1px solid gray;
  }

  .about-us-list-box {
    padding: 1.6rem 4.8rem;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .about-us-text {
    font-size: 2rem;
  }

  .gallery-part {
    padding: 6.4rem 3.2rem 6.4rem 0;
  }
}

/**************************/
/* BELOW 896px (Tablets) */
/**************************/

@media (max-width: 56em) {
  /* html {
    font-size: 50%;
  } */

  .header-nav {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
  .mobile-menu-close {
    display: none;
  }

  .section-hero {
    padding-bottom: 6.4rem;
  }

  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    justify-self: center;
  }

  .hero-img-box {
    margin-top: 3.2rem;
  }

  .heading-primary {
    margin-bottom: 3.2rem;
  }

  .about-us {
    grid-template-columns: 1fr;
  }

  .about-us-list-box {
    padding: 3.2rem 4.8rem;
    font-size: 1.8rem;
    align-self: center;
    justify-self: center;
  }

  .about-us-text-box {
    padding-top: 2.4rem;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr;
  }
}
