* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

/* SECTION HEADER/HERO */

.header {
  height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(imgs/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
}

nav img {
  width: 150px;
}

nav ul {
  display: flex;
  gap: 32px;

  list-style: none;
}

nav ion-icon {
  display: none;
  height: 32px;
  width: 32px;
  color: #fff;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li::before {
  content: "";
  width: 0;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: all 0.3s;
}
nav ul li:hover::before {
  width: 100%;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.text-box h1 {
  font-size: 62px;
  margin-bottom: 20px;
}

.text-box p {
  font-size: 14px;
  margin-bottom: 60px;
}

.hero-btn:link,
.hero-btn:visited {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 35px;
  transition: all 0.3s;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: #f44336;
  border: 1px solid #f44336;
}

/* SECTION COURSES */

/* SECTION CAMPUS */

/* SECTION FACILITIES */

/* SECTION TESTIMONIALS */

/* SECTION CTA */

/* FOOTER */
